
{% extends 'main.html' %}

{% block content %}
{% if page == 'Login' %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label> Username: </label>
        <input type="text" name="username" placeholder="Enter username" />
        <label> Password: </label>
        <input type="text" name="password" placeholder="password" />
        <input type="submit" value="Login"/>
        
    </form>
    <p>Not signed up yet.?</p>
    <a href="{% url 'register' %}">Sign Up</a>
</div>
{% else %}
<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
        
    </form>
    <p>Already signed up yet.?</p>
    <a href="{% url 'login' %}">Login</a>
</div>
{% endif %}
{% endblock %}